@import url('https://fonts.googleapis.com/css?family=Bangers|Manrope&display=swap');


body {

}

header {
    
    background-color: #EEA39E;
    border-radius: 15px;
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #292F36;
    padding: 0.25em;
}
header, footer, main {
    max-width: 600px;
    margin: 0 auto;
}
.me {
    float: right;
    box-shadow: 0 0 30px #292F36;
    border-radius: 5px;
    border: 1px solid #292F36;
}

.year {
    letter-spacing:0.05em;
}
main {
    font-family: 'Manrope', sans-serif;
    

}

footer {
    background-color: #EEA39E;
    border-radius: 15px;
    margin: auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #292F36;
    padding: 0.25em;
}

footer a {
    color: #292F36;
}

