@import url('https://fonts.googleapis.com/css?family=Bangers|Manrope&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans+Condensed:300&display=swap');



header {
    background-color: #EEA39E;
    color: #292F36;
    padding: 0.25em;
}

header, footer {
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
}

header,
footer,
main {
    max-width: 700px;
    margin: 0 auto;
    font-size: 0.75em;
}


.year {
    letter-spacing: 0.5em;
}

main {
    font-family: 'Manrope', sans-serif;
}

footer {
    background-color: #EEA39E;
    border-radius: 15px;
    margin: auto;
    color: #292F36;
    padding: 0.25em;
    font-size: 0.5em;
}

footer a {
    color: #292F36;
}