@import url('https://fonts.googleapis.com/css?family=Bangers|Manrope&display=swap');


body {

}

header {
    background-color: #EEA39E;
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #292F36;
    padding: 0.25em;
}
header, footer, main {
    max-width: 600px;
    margin: 0 auto;
    font-size: 0.75em;

}


.year {
    letter-spacing: 0.5em;
}
main {
    font-family: 'Manrope', sans-serif;
    
    

}

footer {
    background-color: #EEA39E;
    border-radius: 15px;
    margin: auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #292F36;
    padding: 0.25em;
}

footer a {
    color: #292F36;
}

