@media only screen and (min-width: 32.5em) {
    header {
        border-radius: 15px;
    }


    main {
        font-size: 1.5em;

    }
    header, footer {
        font-size: 1.5em;
    }

    .me {
        box-shadow: 0 0 30px #292F36;
        border-radius: 5px;
        border: 1px solid #292F36;
        float: right;

    }
}