body {
    padding:1em;
    margin: 0 auto;
    font-size: 0.75em;
   
    
}

h2 {
    color: #292F36;
    margin: 0;
    border-bottom:1px solid #EEA39E;
    font-family: 'Open Sans Condensed', sans-serif;
}

.home {
    font-size:0.5em;
    color: #292F36;
    
}
header, footer {
    color: #292F36;
    background-color: #EEA39E;
    border-radius: 15px;
    margin: auto;
    text-align: left;
    color: #292F36;
    padding: 0.25em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}

footer a {
    color: #292F36;
}
main {
    margin: 0 auto;
    padding:0.5em;
    font-size: 1em;

} 
main div {
    margin-bottom: 1em;
}
.alignment a, .contrast a, .white-space a {
    color: #292F36;
    
}
.white-space {
    align-items: center;
    border: 1px solid #EEA39E;
    border-radius: 15px;
    padding: 1em;
    line-height: 125%;

}
.white-space a, .white-space img, .white-space p {
    padding-top:0.5em;
}
.white-space img {
    max-width: 100%;
}
.alignment {
    align-items: center;
    border: 1px solid #EEA39E;
    border-radius: 15px;
    padding: 1em;
    line-height: 125%;
}
.alignment a, .alignment img .alignment p {
    padding-top:0.5em;
}
.alignment img {
    max-width: 100%;

}
.contrast {
    column-span: 2;
    border: 1px solid #EEA39E;
    border-radius: 15px;
    padding: 1em;
    align-items: center;
    line-height: 125%;
}
.contrast img {
    max-width: 100%;
}
.contrast a, .contrast img, .contrast p {
    padding-top:0.5em;
}