@media only screen and (min-width: 32.5em){

    .white-space {
        grid-column: 1/2;
    }
    .alignment {
        grid-column: 2/3;
    }
    .contrast {
        grid-column: 3/4;
    }
header, footer {
    font-size: 2em;
}
main {
    font-size: 1.5em;
}
}