body {
    background-color: $background;
    font-family: $fontBody;
    font-size: 16px;
    margin: 0;
}

nav {
    font-family: $fontHead;
    padding: $smallPad;
    margin: 0;
    background-color: $navBackground;

}

header {

    img {
        width: 20%;
        margin-top: -40px;
        margin-bottom: -60px;
        margin-left: 10px;
    }
}



main {
    margin: 0 auto;
    text-align: center;
    h1, h3 {
        font-family: $fontHead;
    }
    .contact-us {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
iframe {
    box-shadow: 0 0 10px;
    margin: 25px;
}//end iframe
    }//end contactus

}

//end main

.navigation {
    list-style: none;
    text-align: center;

    li a {
        display: block;
        color: $textBody;
        text-decoration: none;
        font-weight: 700;
    }

    //end li a
    a:hover {
        opacity: 0.75;
    }

    //end a:hover
    a:active {
        text-decoration: none;
    }

    //end a:active
    li {
        display: none;
    }

    //end li
    li:first-child {
        display: block;
    }

    //end firstchild
}

//end .navigation

.responsive li {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.references a {
    color: $textBody;
}

.forecast {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;

    p {
        font-family: $fontHead;
    }

    //end forecast p

    ul {
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
        }

        //end forecast ul li
    }

    //end forecast ul
}

header,
footer {
    font-size: 18px;

}

footer {
    text-align: center;
    background-color: $navBackground;
    color: $textBody;
    padding: $smallPad;

    p {
        margin: 10px;
    }

    //end p
    a {
        text-decoration: none;
        color: $textBody;
    }

    //end a
    a:hover {
        opacity: 0.75;
    }

    //end a:hover
    .social {
        display: flex;
        border-radius: 25px;
        justify-content: center;

        .social-media-icons {
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}