.navigation {
    display: flex;
    li {
        display: block;
        flex: 1 1 100%;
    }//end nav li
    li:first-child {
        display: none;
    }//end nav li:first-child
}



header,
footer,
body {
    font-size: 1rem;
}
main {
   .contact-us {
    flex-direction: row;
    justify-content: space-around;
   }
   iframe {
    width: 600px;
   }
}