.navigation {
    display: flex;
    li {
        display: block;
        flex: 1 1 100%;
    }//end nav li
    li:first-child {
        display: none;
    }//end nav li:first-child
}



header,
footer,
body {
    font-size: 1rem;
}
main {
    .reserve-button {
        width: 400px;
    }
    .info {
        margin-left: 45px;
        margin-right: 45px;
    }
.slideshow {
    height: 400px;
    width: 533px;
}
}
.forecast ul {
    flex-direction: row;
    justify-content: space-around;
}