body {
    background-color: $background;
    font-family: $fontBody;
}

nav {
    font-family: $fontHead;
    padding: $smallPad;
    margin: 0;
    background-color: $navBackground;

}

header {

    img {
        width: 20%;
        margin-top: -40px;
        margin-bottom: -60px;
        margin-left: 10px;
    }
}

body {
    font-size: 16px;
    margin: 0;
}

main {
    margin: 0 auto;
    text-align: center;

    .reserve-button {
        background-color: $navBackground;
        border: none;
        opacity: 1;
        font-family: $fontHead;
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
        color: $backgroundBox;
    }

    .reserve-button:hover {
        opacity: 0.8;
    }


}

//end main

.slideshow {
    height: 200px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.mySlides {
    display: none;
    box-shadow: 0 0 10px;
}

.navigation {
    list-style: none;
    text-align: center;

    li a {
        display: block;
        color: $textBody;
        text-decoration: none;
        font-weight: 700;
    }

    //end li a
    a:hover {
        opacity: 0.75;
    }

    //end a:hover
    a:active {
        text-decoration: none;
    }

    //end a:active
    li {
        display: none;
    }

    //end li
    li:first-child {
        display: block;
    }

    //end firstchild
}


.pre-table {
    border-collapse: collapse;
    letter-spacing: 1px;
    margin-top: 25px;
    text-align: center;
    width: 400px;

    .line3 {
        font-size: 0.5rem;
    }

    tr:nth-child(even) th {
        background-color: $backgroundBox;
        color: $textWhite;
        font-family: $fontHead;

    }

    tr:nth-child(odd) th {
        background-color: $navBackground;
        color: $textBody;
    }

    th {
        text-align: center;
    }
}

table {
    margin: 0 auto;
    width: 400px;
    border-collapse: collapse;
    letter-spacing: 1px;
    text-align: left;
    box-shadow: 5px 5px 5px $navBackground;

    td {
        padding: 10px 20px;
    }

    tr:nth-child(even) td {
        background-color: $navBackground;
    }

    tr:nth-child(odd) td {
        background-color: $backgroundBox;
        color: $textWhite;
    }

}
.details {
    background-color: $backgroundBox;
    color: $textWhite;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    text-align: left;
    ul li{
    list-style: circle;
    }
    h2 {
        font-family: $fontHead;
        padding-left: 10px;
    }
}


//end .navigation

.responsive li {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.rental-images {
    display: grid;
    grid-template-columns: 1fr;
    background: $backgroundBox;
    margin: 25px;
    color: $textWhite;

    img {
        box-shadow: 0 0 10px;
        max-width: 200px;
        margin:25px;
    }
}


header,
footer {
    font-size: 18px;

}

footer {
    text-align: center;
    background-color: $navBackground;
    color: $textBody;
    padding: $smallPad;

    .references a {
        color: $textBody;
    }

    p {
        margin: 10px;
    }

    //end p
    a {
        text-decoration: none;
        color: $textBody;
    }

    //end a
    a:hover {
        opacity: 0.75;
    }

    //end a:hover
    .social {
        display: flex;
        border-radius: 25px;
        justify-content: center;

        .social-media-icons {
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

//end footer