$cyan: #0F8B8D;
$background: #D0F4EA;
$fontHead: 'Advent Pro', sans-serif;
$fontBody: 'Old Standard TT', serif;
$navBackground: #EC9A29;
$textWhite: white;
$textBody: #393E41;
$smallPad: 0.25rem;
$backgroundBox: #393E41;
