/*------------------------------*/

body {
    font-size: 16px;
    margin: 0;
    color: #1B1B1E;
    font-family: 'Playfair Display', serif;
}


main {
    margin: 0;
    color: #1B1B1E;
    align-items: center;
    max-width: 1360px;
}

header h1,
header p {
    font-family: 'Open Sans Condensed', sans-serif;
}


.logo {
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;
  }

nav {
    margin: 0;
}

.navigation {
    list-style: none;
    background-color: #6A0136;
    padding: 0.2em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navigation li a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navigation a:hover {
    opacity: 0.75;
}

.navigation a:active {
    text-decoration: underline;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;
}

.responsive li {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

header,
footer {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 18px;

}

footer {
    background-color: #6A0136;
}
footer p {
    margin: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    opacity: 0.75;
}

h1,
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #6A0136;
    margin: 0;
}

.top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.title p {
    margin: 0;
    color: #1B1B1E;
}

.title {
    padding-left: 0.5em;
}

article {
    padding: 1rem;
    background-color: #1B1B1E;
    border-radius: 25px;
    color: white;
    margin: 10px;
}

article h2 {
    color: white;
    padding-bottom: 0.75rem;
}

article a {
    color: white;
    text-decoration: none;
}

article a:hover {
    opacity: 0.75;
}

article img {
    max-width: 300px;
    padding: 0.5rem;
    box-shadow: 0 0 10px;
    margin: 5px;

}


.weatherArticle {
    text-align: center;
}

.weatherArticle p {
    text-align: left;
}

.townCard {

    color: white;
    margin: 10px;
    text-align: center;

}

.townCard h2,
.townCard p {
    color: white;
    margin: 10px 20px;
}

.townCard img {
    box-shadow: 0 0 10px;
    max-width: 200px;
}
.townCard section {
    background-color: #1B1B1E;
    border-radius: 25px;
    margin: 10px;
}

section {
    padding: 1rem;
}



/*medium view*/

@media only screen and (min-width: 32.5em) {

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: white;
    }


    header,
    footer,
    body {
        font-size: 1rem;
    }

    article img {
        max-width: 500px;
        float: left;
        margin-right: 20px;
    }

    .weatherArticle {
        text-align: left;
    }

    .townCard img {
        max-width: 400px;
    }

    .townCard section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        align-items: center;
        justify-items: center;
    }

    .townCard section:nth-child(odd) {
        flex-direction: row-reverse;
    }
}


/*large view*/

@media only screen and (min-width: 64em) {

    header,
    footer,
    body {
        font-size: 1.5rem;
    }
    main {
        margin: 0 auto;
    }

    article img {
        max-width: 600px;
    }

    .townCard img {
        max-width: 400px;
    }
    .townCard section {
        display: block;
        
    }
    .townCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

   
    
    
}