main {
    margin: 0;
    font-size: 0.5em;
}

.logo {
    max-width: 15%;
}
nav {
    color: #9DB5B2;
    background-color: #DFF2F4;
    padding: 0.15em;
    text-align: center;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    color: #9DB5B2;
}
nav a {
    color: #3E505B;
}
nav a:hover {
    font-size:1.5em;
  }

header, footer {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.75em;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;

}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #9DB5B2;

}
main {
    font-family: 'Playfair Display', serif;

}

/*
.person-one {
    text-indent: 3em;
}*/

.color-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    text-align: center;
}
.color-one {
    background-color: #DFF2F4;
    max-height: 3em;
    padding: 0.5em;
}
.color-two {
    background-color: #949BA0;
    max-height: 3em;
    padding: 0.5em;
}
.color-three {
    background-color: #9DB5B2;
    max-height: 3em;
    padding: 0.5em;
}
.color-four {
    background-color: #6F8285;
    max-height: 3em;
    padding: 0.5em;
}
.color-five {
    background-color: #3E505B;
    max-height: 3em;
    padding: 0.5em;
}

.sans {
    font-family: 'Open Sans Condensed', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', serif;

}
.site-name-type {
    font-family: 'Luckiest Guy', cursive;

}

@media only screen and (min-width: 32.5em){
    nav ul {
        grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    }
    main {
        font-size: 1em;
    }
    header, footer {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;
    }
}

@media only screen and (min-width: 64em){
main {
    font-size: 1.5em;;
}
header, footer {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}
}